		<footer class='pt-5'>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12'>
						<hr class='m-0'>
					</div>
				</div>
				<div class='row'>
					<div class='col text-center p-3'>
						&copy; <%= year %> Eastern Mennonite University
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>