<% include ../partials/head %>

<% include ../partials/nav %>

<div class='container-fluid text-center'>
    <div class='row align-items-center'>
        <div class='col-12'>
            <h1 class='pt-3'>Control Panel</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-4 p-3'>
            <input id='fan_speed' value='<%= fan_speed %>'></input>
            <h5>Fan Speed</h5>
        </div>
        <div class='col-8 p-3'>
            <div class='row'>
                <div class='col-lg-4 p-3'>
                    <div class='readout-box'>
                        <span id='velocity' class='readout'></span>
                        <span class='readout-units'>MPH</span>
                    </div>
                    <h5 class='p-2'>Velocity</h5>
                </div>
                <div class='col-lg-4 p-3'>
                    <div class='readout-box'>
                        <span id='lift' class='readout'></span>
                        <span class='readout-units'>lbs</span>
                    </div>
                    <h5 class='p-2'>Lift</h5>
                    <%if (!recording) { %>
                        <button id='lift_tare' class='btn btn-secondary'>
                            <i class='fa fa-refresh'></i> Tare
                        </button>
                    <% } %>
                </div>
                <div class='col-lg-4 p-3'>
                    <div class='readout-box'>
                        <span id='drag' class='readout'></span>
                        <span class='readout-units'>lbs</span>
                    </div>
                    <h5 class='p-2'>Drag</h5>
                    <%if (!recording) { %>
                        <button id='drag_tare' class='btn btn-secondary'>
                            <i class='fa fa-refresh'></i> Tare
                        </button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-4 p-3'>
            <input id='attack_angle' value='<%= attack_angle %>'></input>
            <h5>Attack Angle</h5>
        </div>
        <div class='col-8 p-3'>
            <div class='row align-items-center'>
                <div class='col-lg-4 p-3'>
                    <div class='readout-box'>
                        <span id='total_pressure' class='readout'></span>
                        <span class='readout-units'>PSI</span>
                    </div>
                    <h5 class='p-2'>Total Pressure</h5>
                </div>
                <div class='col-lg-4 p-3'>
                    <div class='readout-box'>
                        <span id='static_pressure' class='readout'></span>
                        <span class='readout-units'>PSI</span>
                    </div>
                    <h5 class='p-2'>Static Pressure</h5>
                </div>
                <div class='col-lg-4 p-3'>
                    <div class='readout-box'>
                        <span id='dynamic_pressure' class='readout'></span>
                        <span class='readout-units'>PSI</span>
                    </div>
                    <h5 class='p-2'>Dynamic Pressure</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='velocity_modal' class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter Temperature and Barometric Pressure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class='container-fluid'>
                    <p>These values are used to calculate the velocity.</p>
                    <div class='row'>
                        <div class='col'>
                            <span>Temperature: </span>
                            <input id='velocity_temp' type='number' max='85' min='60' step='1' value='72'><span> &#176;F</span>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col'>
                            <span>Barometric Pressure: </span>
                            <input id='velocity_pressure' type='number' max='37' min='20' step='.1' value='29'><span> mbar</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
            </div>
        </div>
  </div>
</div>

<% include ../partials/footer %>