<% include ../partials/head %>

<% include ../partials/nav %>

<div class='container-fluid'>
    <div class='row text-center'>
        <div class='col-12'>
            <h1 class='p-3'>Results</h1>
            <div>Lift <i id='download_lift' class='fa fa-download' title='Download CSV'></i>: <div id='lift_results'></div></div>
            <div>Drag <i id='download_drag' class='fa fa-download' title='Download CSV'></i>: <div id='drag_results'></div></div>
            <div>Dynamic Pressure <i id='download_dynamic_pressure' class='fa fa-download' title='Download CSV'></i>: <div id='dynamic_pressure_results'></div></div>
            <div>Static Pressure <i id='download_static_pressure' class='fa fa-download' title='Download CSV'></i>: <div id='static_pressure_results'></div></div>
            <div>Total Pressure <i id='download_total_pressure' class='fa fa-download' title='Download CSV'></i>: <div id='total_pressure_results'></div></div>
            <div>Velocity <i id='download_velocity' class='fa fa-download' title='Download CSV'></i>: <div id='velocity_results'></div></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>