<% include ../partials/head %>

<% include ../partials/nav %>

<div class='container-fluid'>
    <div class='row text-center'>
        <div class='col-12'>
            <h1 class='p-3'>Results</h1>
        </div>
    </div>
</div>

<% include ../partials/footer %>