<% include ../partials/head %>

<% include ../partials/nav %>

<div class='container-fluid'>
    <div class='row text-center'>
        <div class='col-12'>
            <h1 class='p-3'>Results</h1>
            <div>Lift: </div><div id='lift_results'></div>
            <div>Drag: </div><div id='drag_results'></div>
            <div>Dynamic Pressure: </div><div id='dynamic_pressure_results'></div>
            <div>Static Pressure: </div><div id='static_pressure_results'></div>
            <div>Total Pressure: </div><div id='total_pressure_results'></div>
            <div>Velocity: </div><div id='velocity_results'></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>